@charset "UTF-8";
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: fit-content;
}

:root {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  color: #ffffff;
  padding: 35px;
}

.display-affiche {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  align-items: center;
  place-content: space-around;
  width: auto;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
}

h1 {
  display: flex;
  width: 50%;
}

.filters {
  display: flex;
  height: fit-content;
  align-self: center;
  align-items: center;
  padding: 12PX;
  border-radius: 0.75rem;
  background-color: unset;
  border-color: rgb(0, 0, 0);
  border-width: 2pX;
  font-size: medium;
  font-weight: 600;
  justify-content: space-around;
  cursor: pointer;
}

.material-symbols-outlined {
  margin-left: 10PX;
}

.modal-open {
  overflow: hidden;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.modal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  border-top-left-radius: 1.25REM;
  border-bottom-left-radius: 1.25REM;
  background-color: #ffffff;
  transition: right 0.4s ease;
  z-index: 999;
}

.modal.show {
  right: 0;
}

.content-modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.closeModal {
  align-self: flex-end;
  color: #a1a1a1;
}

.tri {
  margin-bottom: 12px;
}

.croissant {
  margin-right: 12px;
}

.list-colors {
  position: relative;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.list-colors li {
  margin: 5px;
}

.color-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: rgb(35, 0, 75);
}

.pink {
  background-color: rgb(255, 93, 120);
}

.beige {
  background-color: rgb(255, 244, 207);
}

.brown {
  background-color: rgb(122, 80, 32);
}

.grey {
  background-color: gray;
}

.black {
  background-color: #000;
}

.checked {
  border-color: #000000;
  filter: opacity(0.7);
  border-width: 2px;
}

.categ {
  margin-bottom: 12px;
}

.chk {
  display: flex;
  flex-direction: row;
}
.chk-f {
  margin-right: 12px;
}

.checkbox-categ {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: smaller;
}

.part {
  font-weight: 700;
}

.btn-valider {
  display: flex;
  width: fit-content;
  align-self: center;
  margin-top: 30PX;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: auto;
  width: fit-content;
  margin-top: 30px;
}

main {
  margin: 30PX;
  margin-bottom: 50PX;
}

.title-products p {
  font-family: "Poppins", sans-serif;
  font-size: 30PX;
  font-weight: 700;
}

.box {
  margin: 20px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-style {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.material-symbols-outlined {
  cursor: pointer;
}

[class*=articles] {
  font-size: smaller;
  width: 100%;
}

.panier-articles {
  align-self: flex-end;
  width: 100%;
}

.price-articles {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  color: rgb(54, 54, 54);
  width: 100%;
}

.ajout-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: auto; /* Ceci pousse le contenu vers le bas */
}

.icon-card {
  align-self: center;
}

.titre-articles {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.part-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ceci aligne le contenu en haut */
  width: 100%; /* Utilisez toute la largeur de .box */
  flex-grow: 1; /* Ceci permet à part-infos de prendre tout l'espace disponible */
}

.image-slider {
  margin: 0 auto;
}

.image-slider .slick-slide {
  position: absolute; /* S'assure que le slide est bien positionné */
  overflow: hidden;
}

.image-slider .slick-slide img {
  width: 100%; /* Assurez-vous que l'image prend la largeur totale du slide */
  height: auto; /* La hauteur est réglée automatiquement pour conserver les proportions */
  transition: transform 0.3s ease; /* Transition fluide pour le zoom */
  position: relative; /* Position relative pour rester dans le flux normal du document */
}

.image-slider .slick-list {
  margin: 0 -10px;
}

.slick-slide img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
}

/*# sourceMappingURL=index.css.map */
