body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: fit-content;
}

:root {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 431px) {
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}
header {
  background-color: black;
  color: #ffffff;
  padding: 35px;
}

.display-affiche {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  align-items: center;
  place-content: space-around;
  width: auto;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
}

.logo-jnf {
  display: none;
}

.title-et-genre {
  display: flex;
  align-items: center;
  width: 35%;
  place-content: space-between;
}

.titre-jnf {
  display: flex;
  height: 80px;
  cursor: pointer;
}

.title-genre {
  margin-left: 12px;
  margin-right: 12px;
  font-size: larger;
}

.genre-section {
  display: flex;
  margin-left: 30px;
  font-weight: 700;
  cursor: pointer;
}

.genre-section .homme:hover, .genre-section .femme:hover {
  color: #FFD600;
}

@media only screen and (max-width: 431px) {
  header {
    padding: 11px;
    display: flex;
    place-content: center;
  }
  nav {
    place-content: space-between;
  }
  .titre-jnf {
    display: none;
  }
  .logo-jnf {
    display: block;
    height: 63px;
  }
  .title-et-genre {
    display: flex;
    align-items: center;
    place-content: space-between;
  }
  .title-genre {
    margin-right: inherit;
  }
  .genre-section {
    display: flex;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    margin-left: inherit;
  }
  .icon-corner {
    margin-left: 46px;
    font-size: xx-small;
  }
  .material-symbols-outlined {
    font-size: 10px;
  }
}
.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail-container .display-affiche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 2%;
}
.product-detail-container .product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-bottom: 5rem;
  height: 30rem;
}
.product-detail-container .product-detail .product-carousel {
  flex: 1;
  margin: 1rem 2rem;
  width: 50px;
}
.product-detail-container .product-detail .other-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail-container .product-detail .other-details .price-detail {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: rgb(54, 54, 54);
  width: 100%;
  font-size: 20px;
  text-align: start;
}
.product-detail-container .product-detail .other-details .description-box {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin-right: 13%;
}
.product-detail-container .product-detail .product-image {
  width: 100%;
  height: auto;
}
.product-detail-container .slick-prev,
.product-detail-container .slick-next {
  font-size: 24px;
  line-height: 1;
  color: black;
  background: transparent;
  border: none;
}
.product-detail-container .slick-prev {
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.product-detail-container .slick-next {
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.product-detail-container hr {
  overflow: visible;
}

.slick-slide.slick-current.slick-active {
  text-align: -webkit-center;
}

#productName {
  padding-top: 2%;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  text-decoration: underline;
}

.addPanier {
  background-color: black;
  padding: 3%;
  color: #FFD600;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  border: none;
  font-size: large;
  margin-bottom: 10%;
  align-self: center;
  margin-right: 13%;
  cursor: pointer;
}

.addPanier:hover {
  background-color: #FFD600;
  color: black;
}

.list-size {
  padding: 3%;
  margin-bottom: 10%;
  margin-top: 5%;
  align-self: center;
  margin-right: 13%;
}

#productIntitule {
  padding: 3%;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: x-large;
  align-self: flex-start;
}

@media only screen and (max-width: 431px) {
  .product-detail-container {
    width: 100%;
  }
  .product-detail-container .display-affiche {
    width: 80%;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .product-detail-container .product-detail {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .product-detail-container .product-detail .other-details .description-box {
    width: inherit;
    margin-right: inherit;
  }
  .product-image {
    max-width: 100%;
    height: auto;
  }
  .product-detail-container .product-detail .product-carousel {
    width: 90%;
  }
  .slick-slide img {
    height: auto;
    object-fit: cover;
  }
  .slick-list.draggable {
    margin: 0 auto;
    padding: 0;
    height: 400px;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-prev,
  .slick-next {
    font-size: 16px;
  }
  .product-detail-container .slick-prev {
    left: -16px;
  }
  .product-detail-container .slick-next {
    right: -16px;
  }
  .addPanier,
  .list-size {
    width: 90%;
    margin-right: 0%;
    margin-bottom: 1rem;
  }
  .slick-slide {
    display: none;
  }
  .slick-active {
    display: block !important;
  }
  #productName,
  #productIntitule {
    padding: 0.5rem;
    align-self: center;
    font-size: small;
  }
}
.filters {
  display: flex;
  height: fit-content;
  align-self: center;
  align-items: center;
  padding: 10PX;
  background-color: unset;
  border-width: 1pX;
  box-shadow: 7px 7px 0px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 7px 7px 0px 1px rgb(0, 0, 0);
  -moz-box-shadow: 7px 7px 0px 1px rgb(0, 0, 0);
  font-size: medium;
  font-weight: 600;
  font-size: larger;
  justify-content: space-around;
  cursor: pointer;
}

.filters:hover {
  background-color: #FFD600;
}

.material-symbols-outlined {
  margin-left: 10PX;
}

.modal-open {
  overflow: hidden;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.modal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  transition: right 0.4s ease;
  z-index: 999;
}

.modal.show {
  right: 0;
}

.content-modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.closeModal {
  align-self: flex-end;
  color: #a1a1a1;
}

.tri {
  margin-bottom: 12px;
}

.croissant {
  margin-right: 12px;
}

.list-colors {
  position: relative;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.list-colors li {
  margin: 5px;
}

.color-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: rgb(35, 0, 75);
}

.pink {
  background-color: rgb(255, 93, 120);
}

.beige {
  background-color: rgb(255, 244, 207);
}

.brown {
  background-color: rgb(122, 80, 32);
}

.grey {
  background-color: gray;
}

.black {
  background-color: #000;
}

.checked {
  border-color: #000000;
  filter: opacity(0.7);
  border-width: 2px;
}

.categ {
  margin-bottom: 12px;
}

.chk {
  display: flex;
  flex-direction: row;
}
.chk-f {
  margin-right: 12px;
}

.checkbox-categ {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: smaller;
}

.part {
  font-weight: 700;
}

.btn-valider {
  margin-top: 50px;
  display: flex;
  height: fit-content;
  align-self: center;
  align-items: center;
  padding: 10PX;
  background-color: black;
  border-width: 1pX;
  font-size: medium;
  font-weight: 600;
  font-size: larger;
  justify-content: space-around;
  cursor: pointer;
  color: #ffffff;
}

.btn-flt {
  display: flex;
  place-content: space-evenly;
}

@media only screen and (max-width: 431px) {
  .cartSlide.show {
    width: 80%;
  }
  .cart-title {
    margin-left: 6%;
  }
  .total-amount {
    margin-right: 2%;
  }
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: auto;
  width: fit-content;
  margin-top: 30px;
}

main {
  margin: 30PX;
  margin-bottom: 50PX;
}

.title-products p {
  font-family: "Poppins", sans-serif;
  font-size: 30PX;
  font-weight: 700;
}

.box {
  margin: 20px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-style {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.material-symbols-outlined {
  cursor: pointer;
}

[class*=articles] {
  font-size: smaller;
  width: 100%;
}

.panier-articles {
  align-self: flex-end;
  width: 100%;
}

.price-articles {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  color: rgb(54, 54, 54);
  width: 100%;
  font-size: 15px;
}

.original-price {
  text-decoration: line-through;
  font-weight: 300;
  color: grey;
}

.sale-price {
  text-decoration: underline 3px rgb(204, 0, 71);
  font-weight: bold;
}

.discountRate {
  color: rgb(204, 0, 71);
}

.ajout-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.icon-card {
  align-self: center;
}

.titre-articles {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.part-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
}

.material-symbols-outlined.icon-card {
  font-size: 20px;
  font-weight: 800;
  display: contents;
}

.btn-add-to-cart {
  background-color: #FFD600;
  width: 40px;
  height: 40px;
  border-color: black 1px;
  box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
  -webkit-box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
  -moz-box-shadow: 5px 5px 0px 1px rgb(0, 0, 0);
}

.no-results-message {
  grid: none;
  font-size: x-large;
  font-weight: 700;
}

@media only screen and (max-width: 431px) {
  .display-affiche {
    display: flex;
    justify-content: space-between;
  }
  .title-products p {
    font-size: 20PX;
  }
  .filters {
    padding: 5px;
    font-size: small;
  }
  section {
    display: block;
  }
}
#nb-cart-items {
  font-family: unset;
}

.cartSlide {
  background-color: rgb(54, 54, 54);
  width: 25%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  inset: 0 -100% 0 auto;
  position: fixed;
  transition: right 0.4s ease;
  z-index: 999;
  overflow: hidden;
}

.cartSlide.show {
  right: 0;
}

.cartSlide.close {
  right: -100%;
}

.containerCart {
  display: contents;
}

#closeModalCart {
  display: flex;
  flex-direction: row-reverse;
  color: white;
}

.check-shopping {
  cursor: pointer;
}

.cart-title {
  color: white;
  text-shadow: 3px 3px 0px rgb(0, 0, 0);
  -webkit-text-stroke: black 1px;
  font-size: xx-large;
  font-weight: 800;
  font-family: "Arial", sans-serif;
  margin-top: auto;
}

.list-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: auto;
}

.check-shopping {
  padding: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: medium;
  font-family: "Jost", sans-serif;
  background-color: white;
}

#reset {
  background-color: black;
  color: white;
}

.list-shopping {
  padding: 3%;
  margin-bottom: 5%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scrollbar-width: thin;
  height: 60vh;
  overflow-y: auto;
}

.elementCart {
  margin-left: 5%;
  align-self: center;
}
.elementCartName {
  color: #FFD600;
  margin: auto;
}
.elementCartPrice, .elementCartQuantity {
  color: white;
}

.content-liste {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.content-liste:nth-child(even) {
  background-color: rgb(44, 43, 43);
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  justify-content: flex-start;
}

.cart-buttons {
  margin-top: auto; /* Les pousse vers le bas */
}

.cart-item-image {
  height: 100px;
  object-fit: contain;
}

.remove-item {
  display: block;
  height: min-content;
  align-self: center;
  margin-left: auto;
  background-color: #262626;
  border: none;
  color: rgb(131, 131, 131);
}

.increase-quantity, .decrease-quantity {
  background-color: black;
  border: none;
  color: #FFD600;
}

.total-amount {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  margin-top: auto;
  align-self: self-end;
  padding: 10px 0;
}

/*# sourceMappingURL=index.css.map */
