.box {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f0f0f0;
  margin: 40px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img {
  height: 300px;
  width: 280px;
}

.box:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title-products p {
  font-family: "Poppins", sans-serif;
  font-size: 30PX;
  font-weight: 700;
}

.material-symbols-outlined {
  cursor: pointer;
}

.details {
  float: inline-end;
}

.modal-open {
  overflow: hidden;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.modal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  border-top-left-radius: 1.25REM;
  border-bottom-left-radius: 1.25REM;
  background-color: #ffffff;
  transition: right 0.4s ease;
  z-index: 999;
}

.modal.show {
  right: 0;
}

.content-modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.closeModal {
  align-self: flex-end;
  color: #a1a1a1;
}

.tri {
  margin-bottom: 12px;
}

.croissant {
  margin-right: 12px;
}

.list-colors {
  position: relative;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.list-colors li {
  margin: 5px;
}

.color-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: rgb(35, 0, 75);
}

.pink {
  background-color: rgb(255, 93, 120);
}

.beige {
  background-color: rgb(255, 244, 207);
}

.brown {
  background-color: rgb(122, 80, 32);
}

.grey {
  background-color: gray;
}

.black {
  background-color: #000;
}

.checked {
  border-color: #000000;
  filter: opacity(0.7);
  border-width: 2px;
}

.categ {
  margin-bottom: 12px;
}

.chk {
  display: flex;
  flex-direction: row;
}
.chk-f {
  margin-right: 12px;
}

.checkbox-categ {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.part {
  font-weight: 700;
}

.btn-valider {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  margin-top: 30PX;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
}

header {
  background-color: #4d4d4d;
  color: #ffffff;
  padding: 15px;
}

nav {
  display: flex;
  align-items: center;
  place-content: space-around;
  width: auto;
}

nav a {
  color: rgb(129, 0, 0);
  text-decoration: none;
  margin: 0 15px;
}

h1 {
  display: flex;
  width: 50%;
}

.genre {
  margin: 12PX;
}

footer {
  background-color: #4d4d4d;
  width: auto;
  height: 70PX;
}

.display-affiche {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  align-items: center;
  padding: 12PX;
  border-radius: 0.75rem;
  background-color: unset;
  border-color: rgb(0, 0, 0);
  border-width: 2pX;
  font-size: medium;
  font-weight: 600;
  justify-content: space-around;
  cursor: pointer;
}

.material-symbols-outlined {
  margin-left: 10PX;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
}/*# sourceMappingURL=index.css.map */