$fontPrice: 'Jost', sans-serif;
$fontBase : 'Arial', sans-serif;
$grey : rgb(54, 54, 54);
$yellow : #FFD600;
$headerColor : black;

body {
    font-family: $fontBase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
}

:root{
    overflow-x: hidden;
}

a{text-decoration: none;
    color: inherit;}


    @media only screen and (max-width: 431px){
        html, body {
            width: 100%;
            overflow-x: hidden;
        }
      }
