section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: auto;
    width: fit-content;
    margin-top: 30px;
}

main {
    margin: 30PX;
    margin-bottom: 50PX;
}

.title-products p {
    font-family: 'Poppins', sans-serif;
    font-size: 30PX;
    font-weight: 700;
}

.box {
    margin: 20px;
    width: 290px; // La largeur est maintenant fixée à la largeur de l'image
    display: flex;
    flex-direction: column;
    align-items: center; // Centre les éléments horizontalement
}

.images-style {
    width: 100%; // L'image remplit la largeur de .box
    height: 370px;
    object-fit: cover;
}

.material-symbols-outlined {
    cursor: pointer;
}


[class*="articles"] {
    font-size: smaller;
    width: 100%; // Assurez-vous que les éléments prennent toute la largeur disponible
}

.panier-articles {
    align-self: flex-end;
    width: 100%; // Utilisez la pleine largeur pour le conteneur
}

.price-articles {
    font-family: $fontPrice;
    font-weight: 900;
    color: $grey;
    width: 100%;
    font-size: 15px;
}

.ajout-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.icon-card {
    align-self: center;
}

.titre-articles {
    display: flex;
    width: 100%;
    margin-top: 10px;
}


.part-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
}

.material-symbols-outlined.icon-card {
    font-size: 20px;
    font-weight: 800;
    display: contents;
}

.btn-add-to-cart{
    background-color: $yellow;
    width: 40px;
    height: 40px;
    border-color: black 1px;
    box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
-webkit-box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
-moz-box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
}