section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: auto;
    width: fit-content;
    margin-top: 30px;
}

main {
    margin: 30PX;
    margin-bottom: 50PX;
}

.title-products p {
    font-family: 'Poppins', sans-serif;
    font-size: 30PX;
    font-weight: 700;
}

.box {
    margin: 20px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-style {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.material-symbols-outlined {
    cursor: pointer;
}


[class*="articles"] {
    font-size: smaller;
    width: 100%;}

.panier-articles {
    align-self: flex-end;
    width: 100%;
}

.price-articles {
    font-family: $fontPrice;
    font-weight: 900;
    color: $grey;
    width: 100%;
    font-size: 15px;
}

.original-price {
    text-decoration: line-through;
    font-weight: 300;
    color: grey;
  }
  
  .sale-price {
    text-decoration: underline 3px rgb(204, 0, 71);
    font-weight: bold;
  }

  .discountRate{
    color: rgb(204, 0, 71);
  }

.ajout-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.icon-card {
    align-self: center;
}

.titre-articles {
    display: flex;
    width: 100%;
    margin-top: 10px;
}


.part-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
}

.material-symbols-outlined.icon-card {
    font-size: 20px;
    font-weight: 800;
    display: contents;
}

.btn-add-to-cart{
    background-color: $yellow;
    width: 40px;
    height: 40px;
    border-color: black 1px;
    box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
-webkit-box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
-moz-box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
}

.no-results-message{
    grid: none;
    font-size: x-large;
    font-weight: 700;
}