header {
    background-color: $headerColor;
    color: #ffffff;
    padding: 35px;
}

.display-affiche{
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    align-items: center;
    place-content: space-around;
    width: auto;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
}

.logo-jnf{display: none;}

.title-et-genre{
    display: flex;
    align-items: center;
    width: 35%;
    place-content: space-between;
}


.titre-jnf{
    display: flex;
   height: 80px;
   cursor: pointer;
}

.title-genre{
    margin-left: 12px;
    margin-right: 12px;
    font-size: larger;
}

.genre-section{
    display: flex;
    margin-left: 30px;
    font-weight: 700;
    cursor: pointer;
}

.genre-section .homme:hover, .genre-section .femme:hover {color: $yellow;}

@media only screen and (max-width: 431px){
    
    header {
        padding: 11px;
        display: flex;
        place-content: center;
    }

    nav {
        place-content: space-between;
    }
    
    .titre-jnf {
        display: none;
    }
    
    .logo-jnf{
        display: block;
        height: 63px
    }

    .title-et-genre {
        display: flex;
        align-items: center;
        place-content: space-between;
        
    }

    .title-genre{
         margin-right: inherit;
    }

    .genre-section {
        display: flex;
        font-weight: 700;
        cursor: pointer;
        font-size: 14px;
        margin-left: inherit;
       
    }

    .icon-corner{
        margin-left: 46px;
        font-size: xx-small;
    }

    .material-symbols-outlined {
        font-size: 10px;
    }
}
