header {
    background-color: $headerColor;
    color: #ffffff;
    padding: 35px;
}

.display-affiche{
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    align-items: center;
    place-content: space-around;
    width: auto;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
}

.title-et-genre{
    display: flex;
    align-items: center;
    width: 35%;
    place-content: space-between;
}


.titre-jnf{
    display: flex;
   height: 80px;
   cursor: pointer;
}

.title-genre{
    margin-left: 12px;
    margin-right: 12px;
    font-size: larger;
}

.genre-section{
    display: flex;
    margin-left: 30px;
    font-weight: 700;
    cursor: pointer;
}

.genre-section .homme:hover, .genre-section .femme:hover {color: $yellow;}