header {
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    place-content: space-around;
    width: auto;
}

nav a {
    color: rgb(129, 0, 0);
    text-decoration: none;
    margin: 0 15px;
}

h1{
    display: flex;
    width: 50%;
}

.genre{
    margin: 12PX;
}